# See $GALAXY_ROOT/lib/galaxy/tools/deps/default_conda_mapping.yml for example mapping - 
# additional site-specific mappings can be added to config/conda_mapping.yml.
- from:
    name: samtools
    version: None
  to:
    name: samtools
    version: 1.3.1
- from:
    name: ucsc_tools
    version: None
  to:
    name: ucsc_tools
    version: 332
- from:
    name: bedtools
    version: None
  to:
    name: bedtools
    version: 2.26.0gx
- from:
    name: gnuplot
    version: None
  to:
    name: gnuplot
    version: 4.6
- from:
    name: openbabel
    version: 2.3.2
  to:
    name: openbabel
    version: 2.4.1
- from:
    name: openbabel
    version: None
  to:
    name: openbabel
    version: 2.4.1
- from:
    name: gnuplot-py
    version: None
  to:
    name: gnuplot-py
    version: 1.8
- from:
    name: bowtie
    versino: None
  to:
    name: bowtie
    version: 1.2.0
- from:
    name: libpng
    version: 1.6.7
  to:
    name: libpng
    version: 1.6.28
- from: hisat
  to: hisat2
- from: sickle
  to: sickle-trim
- from:
    name: diamond
    version: 0.6.13
  to:
    name: diamond
    version: 0.8.24
- from:
    name: seqtk
    version: 1.0-r75-dirty
  to:
    name: seqtk
    version: 1.2
